/* General */
body{
    overflow-x:hidden;
    overflow-y:scroll;
}

img{
    max-width:100%;
}

#wrapper{
    max-width:400px;
    margin:30px auto;
    padding:30px;
    border-radius:20px;
    border:1px solid #c8c8c8;
}

.btn, p.title{
    border:0px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:10px 20px;
    font-size:16px;
    margin:0 auto;
    display:block;
}

.btn{
    cursor:pointer;
    margin:12px auto;
}

.btn-blue{
    background: #256ab3;
    color:#fff;
}

.btn-green{
    background:#549f3b;
    color:#fff;
}

.btn-green:hover{
    background:#6cb340;
    color:#fff;
}

.btn-blue:hover{
    background:#2d7cd0;
}

.bg-grey{
    background:#cdcdcd;
}

.page-link.return{
    margin-top:30px;
    width:50%;
}

.text-center{
    text-align:center !important;
}

input[type="text"], textarea{
    width:100%;
    margin:10px auto;
    display:block;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    padding:12px 20px;
    text-align:center;
    border:1px solid #cdcdcd;
    font-size:14px;
}

p{
    margin:4px 0px 6px;
}

/* Pages */
.page{
    display:none;
}

.page.home-page{
    display:block;
}

p.title{
    margin-top:20px;
    text-align:left;
}

/* Seating Plan */
#seat-result, #map-seat-result{
    display:none;
}